include:
  - local: ssh-setup.yml

stages:
  - build
  - test
  - deploy

variables:
  DEPLOY_PATH: "/home/ubuntu/fastapi-app"
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

build-job:
  stage: build
  image: docker:27-cli
  services:
    - name: docker:27-dind
      command: ["--tls=false"]
  before_script:
    - apk add make bash
  script:
    - bash scripts/create-dotenv.sh
    - make build
    - make push

test-job:
  stage: test
  image: docker:27-cli
  services:
    - name: docker:27-dind
      command: ["--tls=false"]
  before_script:
    - apk add make bash
  script:
    - bash scripts/create-dotenv.sh
    - make test-in-docker

deploy-job:
  stage: deploy
  image: python:3.11.4-slim-bookworm
  extends:
    - .ssh-setup
  script:
    - bash scripts/create-dotenv.sh
    - make deploy

